// /* GLOBAL
//  *=================================================

$navHighlight: red
$splashColor: rgb(235, 235, 235)
$transWhite: rgba(255, 255, 255, 0.7)
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1)
$mgLaptop: 1024px
$mqTablet: 768px
$mqPhoneL: 425px
$mqPhoneS: 320px

*
  box-sizing: border-box

body
  font-family: 'Raleway', sans-serif

h1
  font-size: 3.4em
  margin: 0 auto

h2
  font-size: 3em
  padding: 20px

h3
  font-size: 1.8em
  margin: 0 auto
  padding: 20px 0 0 0

p
  font-size: 1.3em

hr
  width: 20%

.sectionHeading, .subHeading
  text-align: center

.subSection
  margin: 0 10vw

.contentContainer
  margin: 0 10%

@media screen and (max-width: $mqTablet)
  h2
    font-size: 2.2em
    padding: 8px
  h3
    font-size: 1.4em
    padding: 8px
  p
    font-size: 1em
  .subSection
    margin: 0 5%
  .contentContainer
    margin: 0

// /* NAV
//  *=================================================

.navbar-absolute
  bottom: 0
  position: absolute
  background-color: #fff
  background-color: rgba(255, 255, 255, 0.7)

.navbar-fixed
  top: 0
  position: fixed
  background-color: #fff
  background-color: rgba(255, 255, 255, 0.98)

.nav-active
  transition: all 500ms $easeInOutQuart
  box-shadow: inset 0px -2px 0px 0px $navHighlight

.mainNav
  box-sizing: border-box
  transition: all 500ms $easeInOutQuart
  z-index: 10
  width: 100%
  overflow: hidden
  ul
    text-align: center
    margin: 0
    padding: 0
  li
    display: inline-block
    line-height: 40px
    width: 100px
    height: 40px
    text-align: center
    &:hover
      transition: all 0.2s $easeInOutQuart
      box-shadow: inset 0px -2px 0px 0px $navHighlight
  a
    display: block
    text-decoration: none
    color: black
    font-size: 1.2em

@media screen and (max-width: $mqTablet)
  .mainNav
    li
      width: 70px
    a
      font-size: 1em

// /* SPLASH
//  *=================================================

.splash
  height: 100vh

.splashHero
  position: fixed
  z-index: -1
  width: 100%
  height: 100vh
  transform: scale(1.1)
  animation: fade-in 1s $easeInOutQuart

  @keyframes fade-in
    0%
      opacity: 0
      transform: scale(1.1)
    5%
      opacity: 0
      transform: scale(1.6)
    100%
      opacity: 1
      transform: scale(1.1)

.intro
  position: relative
  top: 30%
  width: 320px
  margin: 0 auto
  padding: 20px
  text-align: center
  background-color: #fff
  background-color: rgba(255, 255, 255, 0.7)

// /* PROFILE
//  *=================================================

.profile
  position: relative
  padding: 40px 0 80px 0
  background-color: rgb(215, 206, 197)
  background-color: rgba(215, 206, 197, 0.95)
  .subSection
    transition: all 0.2s $easeInOutQuart
  .subHeading
    text-align: left

.profilePic
  float: left
  display: inline-block
  margin: 20px 30px 200px 30px
  border: 10px solid white
  border-radius: 5px
  height: 160px

@media screen and (max-width: $mqTablet)
  .profile
    .subHeading
      text-align: center
  .profilePic
    height: 100px
    width: auto
    float: none
    margin: 30px auto
    display: block
    transition: all 0.2s $easeInOutQuart

// /* SKILLS
//  *=================================================

.skills
  position: relative
  padding: 40px 0 80px 0
  background-color: rgb(164, 164, 172)
  background-color: rgba(164, 164, 172, 0.98)
  .subSection
    display: flex
    justify-content: center
  p
    margin-top: 16px
  .skillList
    display: inline-block
    margin: 0 8%
  ul
    list-style: none
    display: inline
  li
    font-size: 1.3em
  .category
    margin: 30px auto 0 auto
    font-weight: bold
  .sectionHeading
    text-align: center
    clear: both

@media screen and (max-width: $mqTablet)
  .skillList
    li
      font-size: 1em



// /* PROJECTS
//  *=================================================

.projects
  position: relative
  overflow: hidden
  padding: 40px 0 80px 0
  background-color: rgb(66, 65, 74)
  color: $splashColor
  hr
    margin-bottom: 8em

.project
  position: relative
  margin-bottom: 10em
  &::before, &::after
    display: table
    clear: both
    content: ''
  figure
    position: relative
    text-align: center
    overflow: hidden
    max-width: 40vw
    height: auto
    border: 10px solid $splashColor
    border-radius: 5px
    p
      display: inline-block
      padding: 0.8em
      border: 1px solid #fff
      transition: all 0.35s $easeInOutQuart
      transform: translate3d(0,20px,0) scale(1.1)
      opacity: 0
    img
      position: relative
      display: block
      min-height: 100%
      max-width: 100%
      transition: all 0.35s $easeInOutQuart
      opacity: 1
    figcaption
      padding: 0.5em
      color: #fff
      position: absolute
      top: 50%
      left: 0
      transform: translateY(-50%)
      width: 100%
    figcaption > a
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: 1000
      text-indent: 200%
      white-space: nowrap
      font-size: 0
      opacity: 0
    &:hover
      p
        transform: translate3d(0,0,0) scale(1)
        opacity: 1
      img
        opacity: 0.05

.projectText
  padding: 3em
  h3
    margin: 0

.side
  float: left
  width: 50%
  min-height: 12em
  margin: 0
  &::before, &::after
    display: table
    clear: both
    content: ''

.sideRight
  text-align: left
  figure
    float: left

.sideLeft
  text-align: right
  figure
    float: right

@media screen and (max-width: $mqTablet)
  .projectText
    padding: 20px 2em
  .project
    display: block
    h3, p
      text-align: center
      margin-bottom: 0
      padding-top: 0
    figure
      box-sizing: border-box
      max-width: 90%
      margin: 0 5%
  .side
    display: block
    float: none
    width: 100%
    min-height: 4em

// /* FOOTER
//  *=================================================

footer
  position: relative
  padding-top: 40px
  background-color: rgb(47, 47, 50)
  color: $splashColor
  padding-bottom: 100px

.contactLinks
  position: relative
  list-style: none
  display: inline-block
  left: 50%
  transform: translateX(-50%)
  padding: 0
  li
    display: inline-block
    width: 80px
    height: 40px
    line-height: 40px
    text-align: center
    background-color: rgb(100, 100, 100)
    margin: 20px
    border-radius: 5px
  a
    color: $splashColor
    display: block
    text-decoration: none

.contact p
  margin: 100px 0
  text-align: center
