/* GLOBAL
================================================= */

/** {border: 1px solid red;}*/

body {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 3.2em;
  margin: 0 auto;
}
h2 {
  font-size: 2.4em;
  margin: 0 auto;
  padding: 20px;
}
h3 {
  font-size: 1.5em;
  margin: 0 auto;
  padding: 20px 0 0 0;
}
hr {
  width: 20%;
}
.sectionHeading {
  text-align: center;
}
.subHeading {
  text-align: center;
}
.subSection {
  margin: 0 100px;
}

.hiddenId {
  position: absolute;
  top: -40px; /* height of navbar */
}

@media screen and (max-width: 750px) {
  h2 {
    font-size: 1.5em;
    padding: 8px;
  }
  h3 {
    font-size: 1em;
    padding: 8px;
  }
}

/* NAV
================================================= */

.navbar-absolute {
  bottom: 0;
  position: absolute;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-fixed {
  top: 0;
  position: fixed;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.98);
}

.nav-active {
  transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  box-shadow:inset 0px -2px 0px 0px red;
}

.mainNav {
  box-sizing: border-box;
  transition: all 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  z-index: 10;
  width: 100%;
  overflow: hidden;
}
.mainNav ul {
  text-align: center;
  margin: 0;
  padding: 0;
}
.mainNav li {
  display: inline-block;
  line-height: 40px;
  width: 80px;
  height: 40px;
  text-align: center;
}
.mainNav li:hover {
  transition: all 0.2s cubic-bezier(0.770, 0.000, 0.175, 1.000);
  background-color: rgb(250, 250, 250);
  box-shadow:inset 0px -3px 0px 0px red;
}
.mainNav a {
  display: block;
  text-decoration: none;
  color: black;
}

/* SPLASH
================================================= */

.splash {
  height: 100vh;
}
.splashHero {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: url(../images/KV_WALLPAPER_2.jpg);
  background-position: center;
  background-size: cover;
}
.intro {
  position: relative;
  top: 30%;
  width: 320px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  background-color: rgba(255, 255, 255, .7);
}

/* PROFILE
================================================= */

.profile {
  position: relative;
  height: 50vh;
  /*background-color: rgb(235, 235, 235);
  background-color: rgba(235, 235, 235, 0.95);*/
  background-color: rgb(215, 206, 197);
  background-color: rgba(215, 206, 197, .95);
}
.profilePic {
  float: left;
  display: inline-block;
  clear: both;
  margin: 30px;
  border: 10px solid white;
  border-radius: 5px;
}

@media screen and (max-width: 750px) {
  .profilePic {
    height: 60px;
    width: auto;
  }
}

/* SKILLS
================================================= */

.skills {
  text-align: center;
  position: relative;
  height: 50vh;
  /*background-color: #b8b8b8;*/
  /*background-color: rgb(235, 235, 235);
  background-color: rgba(235, 235, 235, .98);*/
  /*background-color: rgb(215, 206, 197);
  background-color: rgba(215, 206, 197, .95);*/
  background-color: rgb(164, 164, 172);
  background-color: rgba(164, 164, 172, .98);
}

/* PROJECTS
================================================= */

.projects {
  position: relative;
  overflow: hidden;
  /*background-color: rgb(215, 206, 197);*/
  /*background-color: rgb(235, 235, 235);*/
  /*background-color: #fff;*/
  background-color: rgb(66, 65, 74);
  color: rgb(235, 235, 235);
}
.projects hr {
  margin-bottom: 8em;
}
.project {
  position: relative;
  margin-bottom: 10em;
}
.project::before, .project::after {
  display: table;
  clear: both;
  content: '';
}
.projectText {
  padding: 3em;
}
.project img {
  max-width: 400px;
  height: auto;
  border: 10px solid rgb(235, 235, 235);
  border-radius: 5px;
}
.side {
  float: left;
  /*overflow: hidden;*/
  width: 50%;
  min-height: 12em;
  margin: 0;
}
.side::before, .side::after {
  display: table;
  clear: both;
  content: '';
}
.sideRight {
  text-align: left;
}
.sideRight img {
  float: left;
}
.sideLeft {
  text-align: right;
}
.sideLeft img {
  float: right;
}

@media screen and (max-width: 970px) {
	.project h3 {
		margin: 0;
	}

	.side img {
		max-width: 80%;
	}
}

@media screen and (max-width: 750px) {
  .projectText {
    padding: 20px 2em;
  }
  .project h3,
  .project p {
		text-align: center;
    margin-bottom: 0;
    padding-top: 0;
	}
	.side {
		float: none;
		width: 100%;
    min-height: 4em;
	}
	.side img {
    box-sizing: border-box;
		max-width: 90%;
    margin: 0 5%;
	}
}

/* FOOTER
================================================= */

footer {
  position: relative;
  height: 120px;
  background-color: rgb(47, 47, 50);
  color: rgb(235, 235, 235);
}

.contactLinks {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
}

.contactLinks li {
  display: inline-block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgb(100, 100, 100);
  margin: 20px;
  border-radius: 5px;
}

.contactLinks a {
  color: rgb(235, 235, 235);
  display: block;
  text-decoration: none;
}

.contact p {
  margin: 0;
  text-align: center;
}
